
.cart-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #e30038;
}


.cart-header {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  color: #e30038;
}


.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  display: grid;
  grid-template-columns: 100px 2fr 1fr 1fr 50px;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.product:hover {
  transform: translateY(-3px);
}

.imgProduct {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-size: 1.1rem;
  color: #444;
  font-weight: 500;
  color: #e30038;
}

.product-price {
  font-size: 1.1rem;
  color: #2ecc71;
  font-weight: bold;
}


.remove-btn {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-btn:hover {
  color: #c0392b;
}


.product-list p {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
  padding: 20px;
}


.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.3rem;
  color: #e30038;
}

.total-price {
  font-weight: bold;
  color: #2ecc71;
}


.btn-finishs-cart {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background 0.3s ease;
}

.btn-finishs-cart:hover {
  border: solid 1px #e30038;
}


.clear-cart {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 12px;
  background:#e30038;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.clear-cart:hover {
  background: #ff19006f;
}


@media (max-width: 768px) {
  .product {
    grid-template-columns: 80px 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  .product-name {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .product-price {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .product span:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .remove-btn {
    grid-column: 3 / 4;
    grid-row: 2;
  }

  .cart-header {
    font-size: 2rem;
  }

  .total {
    font-size: 1.1rem;
  }
}