.cart-page {
  background-color: #0d1621;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #e2003b;
  text-align: center;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e2003b;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  background-color: #1a2b35;
  border-radius: 5px;
}

.product-name {
  font-size: 18px;
  flex-grow: 1;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #e2003b;
  margin-right: 20px;
}

.remove-btn {
  background-color: #e2003b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-btn:hover {
  background-color: #9b001f;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #e2003b;
  font-size: 20px;
  font-weight: bold;
}

.total-price {
  color: #e2003b;
}

.clear-cart {
  background-color: #e2003b;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn-finishs-cart {
  text-align: center;
  color: white;
  padding: 10px; 
  font-size: 16px; 
  border-radius: 8px; 
  cursor: pointer; 
  width: 100%;
  text-decoration: none;
  transition: background-color 0.3s; 
  margin-top: 20px;
  background-color: transparent;
  border: none; 
}
.btn-finishs-cart:hover {
  border-radius: 8px; 
  border: 1px solid red;
  color: #e2003b;
}
.clear-cart:hover {
  background-color: #9b001f;
}

.imgProduct {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .cart-header {
    font-size: 20px;
  }

  .product-list {
    gap: 10px;
  }

  .product {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price {
    font-size: 16px;
  }

  .total {
    font-size: 18px;
  }

  .clear-cart {
    font-size: 14px;
  }

  .imgProduct {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .cart-page {
    padding: 15px;
  }

  .product {
    padding: 10px;
  }

  .product-name {
    font-size: 14px;
  }

  .product-price {
    font-size: 14px;
  }

  .total {
    font-size: 16px;
  }

  .clear-cart {
    font-size: 12px;
  }

  .imgProduct {
    width: 60px;
  }
}
