.checkout-container {
    background-color: #0a171c;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 15px;
  }
  
  .checkout-input {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0013a;
    background-color: #0a171c;
    color: red;

  }
  
  .checkout-input::placeholder {
    color: #e0013a;
  }
  
  .checkout-button {
    padding: 10px;
    background-color: #e0013a;
    color: #0a171c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .checkout-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .checkout-text {
    color: #e0013a;
    text-align: center;
  }
  .container-orders {
    color: #e0013a;
    
  }